<div><span>© Deepak Surti </span></div>

<div style="background-color: #EAF4FF; padding: 10px; font-size: 0.7em; color: #333; margin: 20px;"> 
Everything expressed here either by me or attributed/attributable to me; including but not
restricted to thoughts, code, opinion, comments; is my personal content and not those of or
attributed/attributable to any of my current, past, or future employers or clients or any
external entity. If it is otherwise so, it is attributed explicitly with the relevant details.
Please consider yourself so notified.
</div>
